.root {
    -fx-background-color: white;
}

ScrollPane, SplitPane, VBox, AnchorPane {
    -fx-background-color: white;
}

.title-label {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.title2-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.title3-label {
    -fx-font-size: 18px;
}

.black-button {
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;

}
.black-button:hover {
    -fx-background-color: #222222;
}


.white-button {

}

.text-field, .text-area {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
    -fx-border-color: transparent;
    -fx-focus-color: black;
    -fx-faint-focus-color: #424242;
    -fx-padding: 6px 10px;
}

.text-field:focused, .text-area:focused {
    -fx-border-color: black;
    -fx-border-radius: 5px;
}

.card {
    -fx-border-radius: 10;
    -fx-border-color: #c7c7c7;
    -fx-padding: 15px;
}

.warning-label {
    -fx-text-fill: red;
    -fx-font-size: 14px;
}

.transparent-image-button {
    -fx-background-color: white;
}

.transparent-image-button:hover {
    -fx-background-color: #bababa;
}